/* .parent {
    font-weight: 400!important;
}
.enabled {
    background: gray;

}

#one, #two, #tree {
    width: 100%;
    height: 70px;
    background-color: aqua;
    border-radius: 15px;
    border: solid 1px rgb(58, 58, 58);
    margin-top: 10px;
}
#two.two-after {
    height: 150px;
}

.test {
    width: 100%;
    height: 70px;
    background-color: rgb(117, 91, 214);
    border-radius: 15px;
    border: solid 1px rgb(58, 58, 58);
    margin-top: 10px;
} */


